.banner-caption {
    position: absolute;
    top: 25%;
    left: 0;
    right: 20%;
    z-index: 3;
}
.banner-captionn {
    position: absolute;
    top: 25%;
    left: 60%;
    right: 0;
    z-index: 3;
}

.banner-area {
    height: auto;
}

.banner-content {
    background: rgb(65 65 65 / 76%);
    border: 5px solid #fff;
    display: inline-block;
    padding: 14px 20px;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(#000, 0.075);
}
.hero-icon{
    margin-left: 8px;
    margin-right: 1px;
    font-size: 1.5rem;
}

.know-more {
    background: rgb(65 65 65 / 76%);
    border: 5px solid #fff;
    padding: 15px 30px;
    box-shadow: 0 0.125rem 0.25rem rgba(#000, 0.075);
    border-radius: 10px;
}

.know-more h3 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "poppinssemibold";
}

.form{
    margin-bottom: .5rem;
}

.form-control{
    margin-bottom: 1rem;
}
.button{
    color: black !important;
    font-weight: 500 !important;
    font-size: 1.1rem !important;
}

.PhoneInputCountrySelect{
   align-items: center !important;
}