.about h2 {
    color: #105caa;
    font-size: 39px;
    text-transform: uppercase;
    font-family: "poppinsregular";
  }
  
  .about h2 span {
    color: #4eb848;
    font-family: "poppinssemibold";
  }
  
  .about-img {
    position: relative;
  }
  
  .about-img img {
    position: relative;
    z-index: 1;
  }
  
  .about-img:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 10px;
    bottom: 10px;
    background-color: #4eb848;
    border: 2px solid #4eb848;
  }


